.bg{
    background:linear-gradient(rgba(17, 17, 17, 0.7),rgba(3, 0, 16, 0.3)),url('/static/cafe.jpg ');
    /* background-image: url('/static/cafe.jpg '); */
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }

  .bgim{
    background:rgba(12, 12, 12);
    /* background-image: url('/static/cafe.jpg '); */
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
  }
  
  * {
    box-sizing: border-box;
  }
.container {
    margin: 130px;
    max-width: 300px;
    padding: 16px;
    border-radius: 16px;
    display: inline-block;
    background-color: rgba(189, 208, 220, 0.2);
    box-shadow: 0 8px 32px 0  rgba(1, 17, 27, 0.3);
    text-align: left;
    color: aliceblue;
  }
  
  .text-box{
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.01);
    
  }
  ::placeholder {
    color: rgb(244, 243, 241);
    font-size: large;
  }
  .text-box input{
    border: none;
    outline: none;
    background: none;
    font-size: large;
    width: 500px;
    height: 50px;
    border-bottom: 1px solid #4caf50;
  }
  
  /* .text-box input:focus{
    background-color: rgba(11, 2, 2, 0.5);
    border: none;
    outline: none;
  } */
  
  /* Set a style for the submit button */
  .btn {
    background-color: #2482ae;
    color: #131212;
    padding: 16px 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  h1{
   text-align: center;
   color: #fcf4f4;
   font-size: 50px;
   border-bottom: 6px solid #4caf50;
  }
  button{
    margin-top: 10px;
  }

.values{
    text-align: center;
    color: rgb(19, 19, 19);
    border: none;
    cursor: pointer;
    width: 90%;
    
}

#reset{
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: rgb(97, 97, 70);
  border-radius: .5em;
  box-shadow: 1em 1em 1em rgb(37, 36, 36);
}
.value-table{
  position: absolute;
  left: 50%;
  top: 0;
}
.cost{
  position: absolute;
  left: 2rem;
}
.total-btn{
  color: #eee;
  padding: 10px 20px;
  background-color: #2482ae;
}
.total-btn a{
  color: #eee;
}
.update-btn{
  color: #eee;
  padding: 10px 20px;
  background-color: #2482ae;
}
.update-btn a{
  color: #eee;
}
.delete-btn{
  color: #eee;
  padding: 10px 20px;
  background-color: #fd0b0b;
}
.delete-btn a{
  color: #eee;
}
.val {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}
.no-outline:focus {
  outline: none;
}