{% extends "Helping.html" %}
{% block body %} 
<h1>Cost For Taste</h1> 
    <div class="values">  
        <table  style="margin-top: 50px;">
            <tr style="font-size: 50px;">
              <th>Items</th>
              <th>Cost</th>
            </tr>
            {% for item in display %}
            <tr>
              <td>{{item['Item']}}</td>
              <td>{{item['Cost']}}</td>
            </tr>
            {% endfor %}
          </table>
<button style="float:right;padding: 10px;"><a href="{{url_for('totalItems')}}">Add</a></button> <br><br>
<button style="float:right;padding: 10px;"><a href="{{url_for('Cost')}}">Update</a></button> <br><br>
{% endblock %}