<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Bro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<style>

li {
  display: inline;
}

a:link{
    text-decoration: none;
}

a{
    color: aliceblue;
    justify-content: space-between;
}

#lst{
    display: flex;
    justify-content: space-evenly;
}
h2{
    display: inline;
}

</style>

 <body class="bg">  
    {% block body %} 
    <h2>Coffee On Clouds</h2>
    <div class="nav"> 
        <ul id="lst">
            <li><a href="{{url_for('index')}}">Home</a></li>
            <li><a href="{{url_for('login')}}">Sign In</a></li>
            <li><a href="{{url_for('orderItems')}}">Total</a></li>
        </ul>
    </div>
    {% endblock %}  
    <!-- <img src="{{url_for('static',filename='cafe.jpg')}}" width="1250" height="600"> -->
</body>
</html>

