{% extends "registered.html" %}
{% block body %}
<div>
  <h2 style="text-align: center;color: #f5efef;padding: top 30px;;">{{word}}</h2>
  <h2 style="text-align: center;color: #f5efef;padding: top 30px;;">{{new}}</h2>
  <form action="{{ url_for("login")}}" method="post" class="container">
    <h1>Log In</h1>
    <div class="text-box">
    <input type="email" placeholder="Email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>

    <button type="submit" class="btn">Sign In</button>
    <div class="signup_link">
      Not a registered user? <a href="{{ url_for('signup') }}">Sign Up</a>
    </div>
    </div>
  </form>
</div> 
{% endblock %}