{% extends "registered.html" %}
{% block body %}
<div>
    <form action="{{ url_for("signup")}}" method="post" class="container">
      <h1>Register</h1>
      <div class="text-box">
      <input type="text" placeholder="Name" name="name" required>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
  
      <button type="submit" class="btn">Sign Up</button>
      </div>
    </form>
  </div> 
{% endblock %}