{% extends "Helping.html" %}
{% block body %} 
<h2>Total Items:</h2> 
<div class="values">
    {% for item in newuser %}
      <tr>
        <td>{{item['Item']}}</td>
        <td>{{item['Cost']}}</td>
        <td>{{item['Quantity']}}</td>
        <td>{{item['qtyCost']}}</td>
        <button class="update-btn"><a href="{{ url_for('updateItem',id=item['_id']) }}">Update</a></button>
        <button class="delete-btn"><a href="{{ url_for('deleteItem',id=item['_id']) }}">Delete</a></button><br><br>
      </tr>        
      {% endfor %}
      <form action= "{{ url_for("totalItems")}}" method="post" align="center">
        <button id="reset" type="submit">Reset</a></button><br><br>
      </form>
      
      <h2 style="float:right;">Total Cost: {{total}}</h2>
</div>
{% endblock %}