{% extends "Helping.html" %}
{% block body %}

<style>
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    width: 0;
    position: fixed;
  }

  .radio-toolbar label {
    display: inline-block;
    background-color: rgb(107, 235, 227);
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #444;
    border-radius: 4px;
    width: 6rem;

  }

  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #bfb;
    border-color: #4c4;
  }

  .radio-toolbar input[type="radio"]:focus+label {
    border: 2px dashed #444;
  }
  th{
    margin: 2rem;
  }
</style>

<div class="values">
    {% set id=newuser['_id'] %}
    {{val}}
  <form method="post">
    <select name="quantity" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
   <button class="update-btn" type="submit">Update</button><br><br>
</form>
</div>
  <h2 class="cost">Total Cost:{{total}}</h2>

{% endblock %}